.graph-container {
  border: 1px solid black;
  font-family: Roboto;
  padding: 5px;
  width: 500px;
}

.graph-label {
  font-family: Roboto;
  padding: 5px;
}

.graph-svg {
  padding: 2px;
  width: 500px;
}